.lottery-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

#grid {
    display: flex;
    justify-content: left;
}

.box {
    background: #f0f0f0;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-size: 3em;
    cursor: pointer;
}

.box-selected {
    background-color: #aaa;
    cursor: not-allowed;
}

body {
    background-color: #eee;
    font-family: "Lucida Console", "Courier New", monospace;
}
